# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.ImageLoader.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Nadal\DICOMImageLoader\Assets\Scripts\ImageLoader\.idea\.idea.ImageLoader\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
